<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home | News Mon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="icon" href="./imgs/sitelogo.png">
</head>

<body>
    {{>nav}}

    <div class="container" id="container">
        <form action="" class="mt-4">
            <div class="form-group">
                <input type="text" class="form-control" id="text" placeholder="Enter Keyphrase" name="q"
                    autocomplete="off">
            </div>
        </form>

        {{#each news}}
        <div class="card">
            <img class=" card-img-top" src={{this.urlToImage}} alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">{{this.title}}</h4>
                <p class="card-text">{{this.content}}</p>
                <a href="#" class="btn btn-primary  ">See Profile</a>
            </div>
        </div>
        {{/each}}



    </div>
    <footer class="page-footer font-small blue pt-4">
        <div class="footer-copyright text-center py-3">Made with ❤ By Sam</div>
    </footer>



</body>

</html>