<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home | News Mon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="imgs/tempsnip.png" alt="logo" style="width:40px;">
        </a>


        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Link 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 3</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="jumbotron mt-4">
            <h1 class="display-4">News Mon</h1>
            <p>News Mon fetches latest news articles that are published over major websites across the globe.
            </p>
        </div>
        <form action="">
            <div class="form-group">
                <input type="text" class="form-control" id="text" placeholder="Enter Keyphrase" name="q"
                    autocomplete="off">
            </div>

        </form>

        <p id="result">text here</p>
        <br>
        <div class="card">
            <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>

    <script src="./js/index.js"></script>

</body>

</html>