.bg-dark {
  background-color: #ffc107 !important;
}

.btn-primary {
  color: #000;
  background-color: #ffc107;
  border-color: #ffca28;
}

.navbar-brand img {
  height: 4rem;
}

#container {
  max-width: 540px;
  padding-right: 0;
  padding-left: 0;
}

.jumbotron {
  background: #ffc107;
  margin-top: 5rem;
}

.card-body {
  background: aliceblue;
}

.loadMoreBtn {
  cursor: pointer;
  text-align: center;
  padding: 1rem;
  color: #ffc107;
  font-weight: 400;
  transition: 0.5s;
}

.loadMoreBtn:hover {
  color: #b18500;
}

.lost {
  background: #ffc107;
  padding: 1rem;
  border-radius: 5px;
}
